*{
    margin: 0;
    padding: 0;
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 1002px;
    margin:0 auto;
}
/*header开始*/
#logo{
    width: 194px;
    height: 120px;
    float: left;
}
#logo a{
    margin-top: 29px;
    float: left;
}
.nav{
    float: left;
    margin-left: 134px;
    margin-top: 49px;
}
.nav li{
    float: left;
    padding: 0 24px 0 25px;
    position: relative;
}
.nav li::after{
    content: '';
    height: 14px;
    width: 1px;
    background: #6b6b6b;
    display: block;
    position: absolute;
    right: 0;
    top:50%;
    margin-top:-7px;
}
.nav a{
    color: #626262;
    font-size: 15px;
}
.nav .active a{
    color: #00aeff;
}
.research{
    width: 132px;
    height: 30px;
    float: right;
    margin-top: 49px;
    position: relative;

}
.user-text{
    width: 96px;
    border: transparent;
    border-right: 0px;
    background: #f1f3f6;
}
.father{
    overflow: hidden;
}
.user-sub{
    width: 24px;
    margin-top: 4px;
    float: right;
    border-left: 0px;
    border: transparent;
    background:url("img/未标题-1.png") 0px -2px #f1f3f6;

}
#picture-box img{
    width: 100%;
}
.box{
    height: 475px;
    position: relative;
}

.fist-p{

    height: 475px;
    position: relative;
    top:-480px
}
.right{
    width: 40px;
    height: 80px;
    background:url("img/dircet1.png") -40px ;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -40px;
}
.left{
    width: 40px;
    height: 80px;
    background: red;
    background:url("img/dircet1.png") 80px ;
    position: absolute;
    top: 50%;
    margin-top: -40px;
}


/*header结束*/