*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style-type:none;
}
a{
    text-decoration: none;
}
/*harder*/
#harder{
   display:-webkit-box;
    height: 100px;
    margin-top: 3px;
    box-shadow: 0 -5px 5px 5px rgba(0,0,0,0.1);
}
#menu{
    -webkit-box-flex:5;
    margin-left: 32px;
}
#logo{
    -webkit-box-flex: 2;
    text-align: center;
}
#sing_up{
    -webkit-box-flex:5;
    margin-right: 28px;

}
#logo img{
    width: 73px;
    margin-top: 15px;
}
#sing_up p{
    text-align: right;
}
#sing_up .user-title{
    margin-top: 30px    ;
    font-size: 16px;
    color: #4e4e4e;
}
#sing_up a{
    font-size: 14px;
    color: #b89f7a;
    font-weight: 700;
}
#sing_up a:hover{
    color: ;
}
#menu p{
    width: 30px;
    text-align: center;
    font-size: 12px;
    opacity: 0.7;
    cursor: pointer;
}
#menu p:hover{
    opacity: 1;
}
#menu img{
    margin-top: 30px;
    letter-spacing: 0.5px1;
    cursor:pointer;
}
@media screen and (max-width:991px){

}
@media screen and (max-width: 768px) {
    #menu{
        margin-left: 15px;
    }
    #sing_up{
        margin-right: 12px;
    }
    #sing_up .user-title{
        font-size: 12px;
    }
    #sing_up p{
        font-size: 12px;
    }
    #sing_up a{
        font-size: 12px;
    }
}

/*homepage开始*/
#home-page{
    position: relative;
}
 .img1,.img2{
     display: block;
    width: 100%;

}
 #home-page .img2 {
     display: none;
 }
 .ad{
     font-size: 12px;
     background: #47474A;
     color:rgba(255,255,255,0.7);
     z-index: 1;
     padding: 0 5px;
     position: absolute;
     top:20px ;
     right: 15px;
 }
.konw-more{
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    right: 25px;
    color:#fff;
    cursor:pointer;
}

 @media screen and (max-width: 991px){
    #home-page .img2{
         display:block;
     }
     #home-page .img1{
         display: none;
     }
 }
/*homepage结束*/

/*home-rewards开始*/
#home-rewards{
    overflow: hidden;
    background:#0f0f0f;
}
#container{
    width: 750px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;

}
.rewards-mark{
    width:255px;
    height: 145px;
    padding: 75px 0 0 65px;
    background:#0f0f0f  url("辛巴克的图片/rewards_bg.png") 0 0 no-repeat;
    background-size: contain;
    float: left;
}
.rewards-mark p{
    font-size: 18px;
    color: #fff;
}
.rewards-mark img{

    width: 166px;
}
.content{
    width: 430px;
    float:right;
    height: 100%;

}
.content h2{
    font-size: 25px;
    color: #fff;
    margin-top: 40px;
}
.content p{
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
}
.rewards-btn{
    margin-top: 20px;

}
.rewards-btn a{
    width: 114px;
    height: 50px;
    color: #b89f7a;
    text-align: center;
    line-height: 50px;
    display: block;
    border: 2px solid #b89f7a;
    float: left;
    margin-right: 20px;
}
.rewards-btn a:hover{
    color: white;
    background: #b89f7a;
}
.rewards-btn span{
    width: 114px;
    height: 50px;
    display: block;
    color: #b89f7a;
    line-height: 50px;
    float: left;
}

/*app开始*/
#app{
    background: url("辛巴克的图片/app-web.png") 0 0 no-repeat;
    background-size:contain;
    padding-top:23% ;
    position: relative;
}
#app img{
    width: 130px;
    height: 130px;
    position: absolute;
    top:50%;
    left: 50%;
    -webkit-transform:translateY(-50%) translateX(-50%);
}
.content-fot{
    width: 35%;
    position: absolute;
    left:58%;
    top: 50%;
    margin-top: -50px;
}
.content-fot p{
    font-size: 18px;
    color: #3d3d3d;
    line-height: 28px;
    margin-bottom: 15px;
}
.content-fot a{
    font-size: 18px;
    color: #b89f7a;
}

/*app结束*/

/*misaic开始*/
#mosaic{
    overflow: hidden;
}
.mosaic1{
     background: url("辛巴克的图片/mosaic1.jpg") 0 0 no-repeat;
     width: 50%;
     padding-top: 50%;
     background-size: cover;
     float: left;
     box-sizing: border-box;
     position: relative;
 }

.mosaic1-title{
    text-align: center;
    font-size: 30px;
    color: #D81026;
    margin: 0 15px;
    width: 100%;
    position: absolute;
    top:80%;
}
.mosaic1-sell{
    text-align: center;
    font-size: 13px;
    color: black;
    width: 100%;
    position: absolute;
    top:90%;
}
.mosaic2{
    background: url("辛巴克的图片/mosaic2.jpg") 0 0 no-repeat;
   width: 50%;
    padding-top: 50%;
    background-size: cover;
    float: right;
    position: relative;
}
.mosaic2-title{
    text-align: center;
    font-size: 30px;
    color:#fffffe;
    width: 100%;
    position: absolute;
    top:80%;
}
.mosaic2-sell{
    text-align: center;
    font-size: 13px;
    color: #a98e67;
    width: 100%;
    position: absolute;
    top:90%;
}
/*misaic结束*/


/*collectiong开始*/
#collection{
    padding: 75px 18px;
}
#collection h2{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #2F2F2F;
}
#collection p{
    font-size: 18px;
    color: #8B8B8B;
    text-align: center;

}
.prolist{
    display: flex;
    -webkit-justify-content: center;
    -webkit-flex-wrap: wrap;
}
.prolist li{
    width: 240px;
    height: 280px;
    background: #ccc;
    margin: 15px;
    }
/*collection结束*/

@media screen and (max-width: 961px) {


}
@media screen and (max-width: 767px){
     .rewards-mark,.content{
         width: 100%;
         padding: 0;
     }
    #container{
        width: 100%;

    }
    .rewards-mark{
       text-align: center;
        padding-top: 50px;
    }
    .rewards-mark p{
        font-size: 16px;
    }
    .rewards-mark img{
      margin-left: ;
    }
    .content{
        text-align: center;
        margin-top: -80px;

    }
   .rewards-btn a{
       float: none;
       width: 80%;
       margin:0 auto 10px;
   }
.rewards-btn span{
    float: right;
}
.content h2{
    margin-bottom: 20px;
}
.content p{
    margin-bottom: 40px;
}
    #home-rewards{
       padding: 0 35px;

    }

    #app{
        background-image:url("辛巴克的图片/app-mobile.png");
        background-size:contain;
        padding-top:98% ;
        position: relative;
        padding-left: 15px;
        padding-right:15px;

    }
    #app img{
        display: none;
    }
   .content-fot{
       width: 100%;
      position: static;
       text-align: center;
   }
   .content-fot p{
       margin-bottom: 30px;
   }
   .btn{
       display: block;
       background: url("辛巴克的图片/udp-starbucks-cn.svg") center center no-repeat;
       width: 220px;
       height: 80px;
       margin: auto;
       margin-top: 10px;
   }


   .mosaic1{
       width: 100%;
       padding-top: 100%;
       box-sizing: border-box;
       float: none;


   }
   .mosaic1 p{
       -webkit-box-sizing:border-box;
       padding: 0 15px;
   }
    .mosaic2{
        width: 100%;
        padding-top: 100%;
        box-sizing: border-box;
        float: none;
    }
    .mosaic2 p{
        -webkit-box-sizing:border-box;
        padding: 0 15px;
    }


    }
/*home-rewards结束*/
